<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>League Table</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
</head>
<style>
    body{
        background-color: black;
        color: white;
        font-family: 'Syne Mono', monospace;
    }
</style>
<body>

{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}
<br>
<br>
The league leader's captain:{{toppercaptain}}<br><br>
Most Popular Captain:{{pop_cap}}({{pop_cap_per}})%<br><br>
Most Popular Vice Captain:{{pop_vice_cap}}({{pop_vice_cap_per}})%
</body>
</html>